@media only screen and (max-device-width: 900px) {
    .imagens .marco { width:600px; }
    }
    @import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,400;0,700;1,400 & family= Roboto+Condensed:ital,wght@0,400;0,700;1,400 & família= Roboto:ital,wght@0,400;0,700;1,400;1,700 & display=swap');
*{
    margin: 1px;
    padding: 0;
    box-sizing: 0;
    list-style: none; 
    color: aliceblue;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 1em;  
    align-items:center;  
    border-bottom: solid 0.1em; 
    border-color: #8a2be2;
    line-height: 55px;
    font-family: 'Montserrat' sans-serif;
    list-style-type: none;
    font-size: 1.5rem;
    
    
   
}
a{
    color: rgb(248, 247, 245);
}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(46, 46, 109) 35%, rgb(2, 125, 150) 100%);
    font-size: 1.5em;
   
}
p{
    font-family: 'Reboto' Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #e5f31c;
    font: bold;
    font-style: italic;
    
}
.descricao{
    text-align: justify;
    text-decoration:dashed;
}
.descricaoh1{
    text-align: center;
    text-decoration:dashed;
    color: #e5f31c;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(46, 46, 109) 35%, rgb(2, 125, 150) 100%);
    filter: drop-shadow(5px 5px 5px #8a2be2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.descricaoh2{
    text-align: justify;
    text-decoration:dashed;
    color: #e5f31c;
    
}
.descricaoh3{
    text-align: justify;
    text-decoration:dashed;
    color: #e5f31c;
}
.descricaospan{
    text-align: justify;
    text-decoration:dashed;
    color: #e5e0f1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imagens{
    display: flex;
    justify-content: center;
    width: 35rem;
    height: 30rem;
    margin:auto;
    border-radius: 2%;
    max-width: 100%;
}
.marco{
    display: flex;
    justify-content: center;
    border-radius: 2%;
    width: 80%;
    height: auto;
    margin:auto;
}
.amoRecife{
    display: flex;
    justify-content: center;
    border-radius: 2%;
    max-width: 100%;
    margin:left;
}
footer{
    text-align: center;
}
.ancora a{
    color: #e5f31c;
    font-family: 'Montserrat' sans-serif;
    font-size: 1.25rem;
    font-display: flex;

  
}